body{
  background-color: white;
  text-align: center;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.main-content{
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  text-align: center;
  color: white;
  width: 100%;
  height: 500px;
  display: block;
  position: relative;
}

.header-bar{
  width: 100%;
  height: 10%;
  display: block;
  position: fixed;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  top: 0;
  left: 0;
  background-image: url(2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 25;
  color: white;
}

.image-container{
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  margin: 10px auto;
  padding: 0;
  background-image: url(background-image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.inquiry-container{
  position: relative;
  display: block;
  margin: 10px auto;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 25%;
  top: 70%;
  color: white;
}

.inquiry-container p{
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 5px;
  width: 50%;
  height: 15%;
  top: 10px;
  font-size: .75rem;
  color: white;
}

.inquiry-container a{
  color: white;
  text-decoration: none;
  font-size: .75rem;
}

.inquiry-container a p:hover{
  color: black;
}

.fa-envelope-o{
  display: block;
  color: black;
  text-decoration: none;
  font-size: 60px;
  padding: 10px;
  margin: 0 auto;
}

a.email-inquiry{
  text-decoration: none;
}

@media (min-width: 1280px)
 and (max-width: 3000px) {
 body{
  padding: 80px;   
 }
 }

@media (min-width: 0px)
 and (max-width: 768px) {

.image-container{
  background-size: cover;
}
.header-bar{
  height: 7%;
}
.inquiry-container p{
  width: 85%;
}
}

@media (min-width: 0px)
 and (max-width: 414px) {
 body{
     padding: 30px;
   }

.inquiry-container p {
  height: 25%;
}
}
